# Environment Variables:
.env
.env.*

# Python Cache files and folders:
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Virtual Environment:
venv/
env/
ENV/
.venv/
shopassist_env/

# VS Code (IDE Files):
.vscode/

# Logs:
*.log

# Operating System Files:
.DS_Store
Thumbs.db

# Jupyter:
.ipynb
.ipynb_checkpoints/

# Unnecessary files & folders:
rough.ipynb
Static/
timepass/

# Project related:
vectorstores/